/*place global styles here */
html, body { @apply h-full; }
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
input:focus {
	@apply border-b-2 border-gray-500;
}
.btn {
	@apply rounded-md
}
